ClamdSocket unix:{{ _clamav_config.clamd.LocalSocket }}
FixStaleSocket true
User clamav
AllowSupplementaryGroups true
ReadTimeout 120
Foreground false
PidFile {{ _clamav_config.milter.pidfile }}
OnClean Accept
OnInfected Reject
OnFail Defer
AddHeader Replace
LogSyslog false
LogFacility LOG_LOCAL6
LogVerbose false
LogInfected Full
LogClean Off
LogRotate true
MaxFileSize 25M
SupportMultipleRecipients false
TemporaryDirectory /tmp
LogFile {{ _clamav_config.milter.log_file }}
LogTime true
LogFileUnlock false
LogFileMaxSize 1M
MilterSocket {{ _clamav_config.milter.socket.path }}
MilterSocketGroup {{ _clamav_config.milter.group }}
MilterSocketMode {{ _clamav_config.milter.socket.mode }}
