ClamdSocket unix:{{clamd_socket_path}}
FixStaleSocket true
User clamav
AllowSupplementaryGroups true
ReadTimeout 120
Foreground false
PidFile {{milter_pidfile}}
OnClean Accept
OnInfected Reject
OnFail Defer
AddHeader Replace
LogSyslog false
LogFacility LOG_LOCAL6
LogVerbose false
LogInfected Full
LogClean Off
LogRotate true
MaxFileSize 25M
SupportMultipleRecipients false
TemporaryDirectory /tmp
LogFile {{milter_log_path}}
LogTime true
LogFileUnlock false
LogFileMaxSize 1M
MilterSocket {{milter_socket_path}}
MilterSocketGroup {{milter_socket_group}}
MilterSocketMode 660
