DatabaseOwner {{clamd_user}}
UpdateLogFile {{freshclam_log_file}}
LogVerbose false
LogSyslog false
LogFacility LOG_LOCAL6
LogFileMaxSize 0
LogRotate true
LogTime true
Foreground false
Debug false
MaxAttempts 2
DatabaseDirectory {{clamav_database_directory}}
DNSDatabaseInfo current.cvd.clamav.net
AllowSupplementaryGroups false
ConnectTimeout 30
ReceiveTimeout 30
TestDatabases yes
ScriptedUpdates {{freshclam_scripted_updates}}
CompressLocalDatabase no
SafeBrowsing false
Bytecode true
NotifyClamd {{clamav_config_dir}}/clamd.conf
# Check for new database 24 times a day
Checks 24
{% if freshclam_custom_database_mirror != None %}
DatabaseMirror {{freshclam_custom_database_mirror}}
{% else %}
DatabaseMirror db.local.clamav.net
DatabaseMirror database.clamav.net
{% endif %}
{% if freshclam_private_mirror %}
PrivateMirror {{freshclam_private_mirror}}
{% endif %}
