clamav_milter_socket="{{_clamav_config.milter.socket.path}}"
clamav__clamav_config.milter.group="{{_clamav_config.milter.group}}"
clamav_milter_conf="{{_clamav_config.config_dir}}/clamav-milter.conf"
clamav_clamd_socket="{{_clamav_config.milter.socket.path}}"
clamav_clamd_flags="--config-file={{_clamav_config.config_dir}}/clamd.conf"

